.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register,
form.checkout_coupon, form.login, form.register {
    border: 0px solid transparent !important;
    border-radius: 0px;
}
form.register input {
    margin-bottom: 20px;
}